name: Pull Request Labeler

on:
  workflow_call:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  labeler:
    name: Labeler

    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write
      pull-requests: write

    steps:
      - name: Checkout labeler config
        uses: actions/checkout@v6
        with:
          path: .hosmelq-github-config
          repository: hosmelq/.github
          sparse-checkout: .github/labeler.yml

      - name: Run labeler
        uses: actions/labeler@v5
        with:
          configuration-path: .hosmelq-github-config/.github/labeler.yml
